@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.medstore.bg');
    color: theme('colors.medstore.text-main');
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .card-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
  }
}
